[Desktop Entry]
Type=Application

Name=Bridge
Comment=PipeWire crossfade mixer
Categories=AudioVideo;Audio;Mixer;
Keywords=PipeWire;Audio;Mixer;Crossfade;Volume;

Exec=bridge
Icon=io.github.arulan.Bridge
Terminal=false


